@import "tailwindcss";

.container-type-size {
  container-type: size;
}

/* Ховаємо скролбар для Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Ховаємо скролбар для IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}