@import "tailwindcss";

.container-type-size {
  container-type: size;
}

@theme {
  /* --- Ваші існуючі брейкпоінти --- */
  --breakpoint-phone-wide: 406.67px;
  --breakpoint-tablet: 660px;
  --breakpoint-desktop: 980px;

  /* --- Ваші кастомні налаштування --- */
  --max-width-card: 366.67px;
  
  /* 1. Кольори (виносимо з #hex) */
  /* Назвемо їх за суттю. #FEFAF3 схожий на колір слонової кістки або кремовий */
  --color-caviar-cream: #FEFAF3; 
  --color-caviar-text: #3A3A3A; 

  /* 2. Шрифти (Typography) */
  /* Визначаємо розмір шрифту + висоту рядка (line-height) за замовчуванням */
  --text-section-title: 32px;
  --text-section-subtitle: 18px; 
  
  /* 3. Відступи (Spacing) */
  /* Якщо 20px - це ваш стандартний відступ для контейнера, назвемо його так */
  --spacing-layout-gap: 20px; 

  --shadow-card-custom: 0 5px 10px rgba(0, 0, 0, 0.25);
}



/* .scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */